<nav>
  <a href="/" class="nav-logo">GR<b>.</b></a>
  <div class="nav-links">
    <a href="/#experience">About</a>
    <a href="/#platform">Platform</a>
    <a href="/posters">Posters</a>
    <a href="mailto:ruefferg@mcmaster.ca">Contact</a>
    <a href="https://www.macengsociety.ca/elections" target="_blank" rel="noopener" class="nav-btn">Vote</a>
  </div>
</nav>
